<div class="mt-5">
   <form method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Search</label>
    <input name="q" type="text" class="form-control" id="exampleInputEmail1" >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>